// Background colors
$color_bg_dark: #0e1621;
$color_bg_medium: #17212b;
$color_bg_light: #242f3d;
$color_bg_blue: #2b5278;

// Text colors
$color_light: #fff;
$color_medium: #7f91a4;
$color_error: #ce1d35;

// Elements colors
$color_blue: #51b3f3;
