<div class="photoEditor">
    <h3 class="photoEditor__header">Выберите фото для загрузки</h3>
    <span class="photoEditor__clue">не более 1 Mb, формат jpg</span>
    <input type="file" id="choosePhoto">
    <label for="choosePhoto" class="photoEditor__photo" id="dragArea">
        <img src="{{ava}}" alt="photo" class="photoEditor__img">
        <div class="photoEditor__muar"></div>
    </label>
    <div class="photoEditor__text">Область для профильной фотографии</div>
    <div class="photoEditor__container">
        <button class="photoEditor__btn btn" id="cancelPhoto">Отмена</button>
        <button class="photoEditor__btn prior-btn btn" id="savePhoto">Сохранить</button>
    </div>
</div>