<div class="message__empty"></div>
<div class="message__container">
    <div class="message__block">
        <span class="message__text">{{msgText}}</span>
        <span class="message__date">{{msgDate}}</span>
    </div>
</div>