<section class="auth" id="welcome">
    <div class="auth__close">
        <img src="img/close_icon.png" alt="">
    </div>
    <div class="auth__container">
        <div class="auth__logo">
            <img src="img/logo_blue.png" alt="">
        </div>
        <div class="auth__header">
            <p class="auth__title">Авторизация</p>
            <p class="auth__clue">Введите, пожалуйста, свое ФИО и ник для дальнейшей авторизации</p>
        </div>
        <form class="auth__form">
            <input type="text" name="name" class="auth__input" id="name" placeholder="Введите свое имя">
            <p class="auth__tooltip display-none">Заполните, пожалуйста, поле</p>
            <input type="text" name="nickName" class="auth__input" id="nickName" placeholder="Введите свой ник">
            <p class="auth__tooltip display-none">Заполните, пожалуйста, поле</p>
            <button class="auth__btn btn" id="signIn">Войти</button>
        </form>
    </div>
</section>